bin/

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python cruft
*.pyc

# Vim temporary files
*.swp

# Kate temporary files
*~
*.kate-swp
